openapi: 3.0.0
info:
  title: Qiskit Runtime Backends API
  version: 0.45.3
  description: Discover and inspect available IBM Quantum backends (QPUs and simulators). Returns backend list, properties (calibrations), configuration, defaults, and live status.
  contact:
    name: IBM Quantum
    url: https://quantum.cloud.ibm.com
  license:
    name: IBM
    url: https://www.ibm.com/legal
servers:
- url: https://quantum.cloud.ibm.com/api
  description: Global region
- url: https://eu-de.quantum.cloud.ibm.com/api
  description: EU-DE region
tags:
- name: Backends
paths:
  /v1/backends:
    get:
      tags:
      - Backends
      summary: List Your Backends
      operationId: list_backends
      parameters:
      - in: query
        name: fields
        required: false
        schema:
          description: A comma-separated list of fields to return in the response. Initially only supports conditionally returning the `wait_time_seconds` property.
          type: string
          enum:
          - wait_time_seconds
          default: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackendsResponse'
              examples:
                sampleBackendsResponse:
                  $ref: '#/components/examples/backendsResponseExample'
      description: 'Returns a list of all the backends your service instance has access to.

        '
      security:
      - IBMCloudAPIKey: []
      - ServiceCRN: []
      - IBMCloudAuth: []
      x-ibm-events:
        events:
        - name: quantum-computing.device.read
      x-ibm-permissions:
        actions:
        - name: quantum-computing.device.read
    parameters:
    - $ref: '#/components/parameters/IBM-API-Version'
  /v1/backends/{id}/properties:
    get:
      tags:
      - Backends
      summary: Get Backend Properties
      operationId: get_backend_properties
      parameters:
      - schema:
          type: string
          pattern: ^.*$
          minLength: 1
          maxLength: 500
        name: id
        description: Identifier of an available backend
        in: path
        required: true
      - in: query
        name: updated_before
        required: false
        schema:
          type: string
          format: date-time
          minLength: 1
          maxLength: 100
        description: Returns properties with last_update_date before the given time.
      - in: query
        name: calibration_id
        required: false
        schema:
          type: string
          pattern: ^.*$
          minLength: 1
          maxLength: 100
        description: Returns properties associated with the given calibration ID.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackendPropertiesResponse'
              examples:
                sampleBackendPropertiesResponse:
                  $ref: '#/components/examples/sampleBackendPropertiesResponse'
      description: Returns the properties for the specified backend. Simulator backends may not support this.
      security:
      - IBMCloudAPIKey: []
      - ServiceCRN: []
      - IBMCloudAuth: []
      x-ibm-events:
        events:
        - name: quantum-computing.device.read
      x-ibm-permissions:
        actions:
        - name: quantum-computing.device.read
    parameters:
    - $ref: '#/components/parameters/IBM-API-Version'
  /v1/backends/{id}/configuration:
    get:
      tags:
      - Backends
      summary: Get Backend Configuration
      operationId: get_backend_configuration
      parameters:
      - schema:
          type: string
          pattern: ^.*$
          minLength: 1
          maxLength: 500
        name: id
        description: Identifier of an available backend
        in: path
        required: true
      - in: query
        name: calibration_id
        required: false
        schema:
          type: string
          pattern: ^.*$
          minLength: 1
          maxLength: 100
        description: Returns configuration associated with the given calibration ID.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackendConfigurationResponse'
              examples:
                sampleBackendConfigurationResponse:
                  $ref: '#/components/examples/sampleBackendConfigurationResponse'
      description: Returns the configuration for the specified backend.
      security:
      - IBMCloudAPIKey: []
      - ServiceCRN: []
      - IBMCloudAuth: []
      x-ibm-events:
        events:
        - name: quantum-computing.device.read
      x-ibm-permissions:
        actions:
        - name: quantum-computing.device.read
    parameters:
    - $ref: '#/components/parameters/IBM-API-Version'
  /v1/backends/{id}/status:
    get:
      tags:
      - Backends
      summary: Get Backend Status
      operationId: get_backend_status
      parameters:
      - schema:
          type: string
          pattern: ^.*$
          minLength: 1
          maxLength: 500
        name: id
        description: Identifier of an available backend
        in: path
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackendStatusResponse'
              examples:
                sampleBackendStatusResponse:
                  $ref: '#/components/examples/sampleBackendStatusResponse'
      description: Returns the status for the specified backend ID.
      security:
      - IBMCloudAPIKey: []
      - ServiceCRN: []
      - IBMCloudAuth: []
      x-ibm-events:
        events:
        - name: quantum-computing.device.read
      x-ibm-permissions:
        actions:
        - name: quantum-computing.device.read
    parameters:
    - $ref: '#/components/parameters/IBM-API-Version'
  /v1/backends/{id}/defaults:
    get:
      tags:
      - Backends
      summary: Get Backend Default Settings
      operationId: get_backend_defaults
      parameters:
      - schema:
          type: string
          pattern: ^.*$
          minLength: 1
          maxLength: 500
        name: id
        description: Identifier of an available backend
        in: path
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackendDefaultsResponse'
              examples:
                sampleBackendDefaultsResponse:
                  $ref: '#/components/examples/sampleBackendDefaultsResponse'
      description: Returns the defaults for the specified backend. Simulator backends may not support this.
      security:
      - IBMCloudAPIKey: []
      - ServiceCRN: []
      - IBMCloudAuth: []
      x-ibm-events:
        events:
        - name: quantum-computing.device.read
      x-ibm-permissions:
        actions:
        - name: quantum-computing.device.read
    parameters:
    - $ref: '#/components/parameters/IBM-API-Version'
components:
  schemas:
    BackendConfigurationResponse:
      title: BackendsConfigurationResponse
      type: object
      description: Backends Configuration Response
      required:
      - backend_name
      - backend_version
      - basis_gates
      - conditional
      - coords
      - coupling_map
      - gates
      - local
      - memory
      - n_qubits
      - online_date
      - u_channel_lo
      properties:
        acquisition_latency:
          description: Array of dimension n_qubits x n_registers. Latency (in units of dt) to write a measurement result from qubit n into register slot m.
          minItems: 1
          maxItems: 2147483647
          items:
            type: array
          example:
          - - 0
            - 1
          - - 1
            - 0
          type: array
        backend_name:
          type: string
          description: Backend name
          pattern: ^[a-zA-Z0-9_]*$
          minLength: 1
          maxLength: 64
          example: ibmq_eagle
        backend_version:
          type: string
          description: Backend version in the form X.X.X
          pattern: ^[0-9]+\.[0-9]+\.[0-9]+$
          minLength: 5
          maxLength: 16
          example: 1.6.0
        basis_gates:
          description: List of basis gate names on the backend
          minItems: 1
          maxItems: 64
          example:
          - u1
          - cx
          - h
          items:
            type: string
          type: array
        clops:
          description: Circuit layer operations per second (CLOPS). A measure of how many layers of a 100x100 hardware-aware circuit a QPU can execute per second.
          allOf:
          - $ref: '#/components/schemas/ClopsType'
        clops_h:
          description: Hardware Circuit Layer Operations Per Second (CLOPS_h). Measures how many circuit layers the QPU can execute per second on hardware.
          oneOf:
          - type: integer
            format: int32
            minimum: 0
            maximum: 2147483647
          - type: string
            pattern: ^.*$
          example: 4500
        clops_v:
          description: "Virtual CLOPS \u2014 may be a numeric value or descriptive string if unavailable."
          oneOf:
          - type: integer
            format: int32
            minimum: 0
            maximum: 2147483647
          - type: string
            pattern: ^.*$
          example: None
        conditional:
          type: boolean
          description: Backend supports conditional operations (true/false)
          default: false
          example: true
        conditional_latency:
          description: Array of dimension n_channels [d->u->m] x n_registers. Latency (in units of dt) to do a conditional operation on channel n from register slot m
          items:
            type: array
          example:
          - - 0
            - 1.2
          - - 0.5
            - 0.8
          type: array
        configurable:
          type: boolean
          description: Backend is configurable, if the backend is a simulator (true/false)
          default: false
          example: true
        coupling_map:
          type: array
          description: Array grouping qubits that are physically coupled together on the backend
          minItems: 1
          maxItems: 2147483647
          items:
            type: array
            minItems: 2
            maxItems: 2147483647
            items:
              type: integer
              format: int32
              minimum: 0
              maximum: 2147483647
          example:
          - - 0
            - 1
          - - 1
            - 2
        coords:
          type: array
          description: 'Array of [i, j] grid coordinates for each qubit''s position on the QPU topology. The index corresponds to the qubit index. Example: [[1,1],[1,2],[2,1],[2,2]] places Q0 at row 1 col 1, Q1 at row 1 col 2, Q2 at row 2 col 1, Q3 at row 2 col 2.'
          minItems: 1
          maxItems: 2147483647
          items:
            type: array
            minItems: 2
            maxItems: 2
            items:
              type: integer
              format: int32
              minimum: 0
              maximum: 2147483647
          example:
          - - 1
            - 1
          - - 1
            - 2
          - - 2
            - 1
          - - 2
            - 2
        credits_required:
          type: boolean
          description: Backend requires credits to run a job (true/false)
          default: false
          example: true
        description:
          type: string
          description: Description of the backend
          pattern: ^.*$
          minLength: 1
          maxLength: 64
          example: This backend supports 5 qubits and OpenPulse.
        display_name:
          type: string
          description: Alternate name field for the backend
          pattern: ^[a-zA-Z0-9]*$
          minLength: 1
          maxLength: 64
          example: EagleBackend
        discriminators:
          description: Available discriminators
          minItems: 1
          maxItems: 64
          example:
          - disc1
          - disc2
          type: array
          items:
            type: string
            maxLength: 64
            minLength: 1
            pattern: ^[a-zA-Z0-9]*$
        dt:
          type: integer
          format: int32
          description: Time discretization for the drive and U channels
          minimum: 0
          maximum: 2147483647
          example: 1
        dtm:
          type: integer
          format: int32
          description: Time discretization for the measurement channels
          minimum: 0
          maximum: 2147483647
          example: 1
        default_rep_delay:
          type: integer
          format: int32
          description: Default rep delay.
          minimum: 0
          maximum: 2147483647
          example: 3
        dynamic_reprate_enabled:
          type: boolean
          description: Whether delay between programs can be set dynamically using 'rep_delay'.
          default: false
          example: true
        gates:
          description: List of basis gates on the backend
          minItems: 1
          maxItems: 64
          type: array
          items:
            $ref: '#/components/schemas/GateConfig'
        hamiltonian:
          description: Hamiltonian of the backend
          deprecated: true
          allOf:
          - $ref: '#/components/schemas/Hamiltonian'
        local:
          type: boolean
          description: Backend is local or remote (true/false)
          example: true
        max_experiments:
          type: integer
          format: int64
          description: Maximum number of experiments supported
          minimum: 1
          maximum: 9007199254740991
          example: 10
        max_shots:
          type: integer
          format: int64
          description: Maximum number of shots supported
          minimum: 1
          maximum: 9007199254740991
          example: 1024
        meas_levels:
          description: Available measurement levels on the backend
          minItems: 1
          maxItems: 3
          items:
            type: array
          example:
          - 1
          - 2
          type: array
        meas_lo_range:
          description: Frequency range for the measurement LO
          minItems: 1
          maxItems: 2147483647
          items:
            type: array
          type: array
        meas_map:
          description: Grouping of measurement which are multiplexed
          minItems: 1
          maxItems: 2147483647
          items:
            type: array
          example:
          - - 0
            - 1
          - - 2
            - 3
          type: array
        measure_esp_enabled:
          type: boolean
          description: Whether ESP readout is supported by the backend.
          default: false
          example: true
        memory:
          type: boolean
          description: Backend supports memory (true/false)
          default: false
          example: true
        n_qubits:
          type: integer
          format: int32
          description: Number of qubits
          minimum: 1
          maximum: 2147483647
          default: 1
          example: 5
        n_registers:
          type: number
          description: Number of register slots available for feedback (if conditional is true)
          minimum: 1
          maximum: 2147483647
          default: 1
          example: 1
        n_uchannels:
          type: number
          description: Number of additional control channels
          minimum: 0
          maximum: 9007199254740991
          example: 2
        online_date:
          type: string
          description: Date the backend went online
          format: date-time
          minLength: 24
          maxLength: 24
          example: '2025-11-12T15:30:00.000Z'
        open_pulse:
          type: boolean
          description: If present, open_pulse = false schema applies
          example: true
        parametric_pulses:
          description: A list of available parametric pulse shapes
          minItems: 0
          maxItems: 1024
          items:
            type: array
          example:
          - Gaussian
          - Square
          type: array
        processor_type:
          description: The processor type of the device
          allOf:
          - $ref: '#/components/schemas/ProcessorType'
        quantum_volume:
          type: number
          description: Backend quantum volume
          minimum: 1
          maximum: 9007199254740991
          example: 32
        qubit_lo_range:
          description: Frequency range for the qubit LO
          minItems: 1
          maxItems: 2147483647
          items:
            type: array
          example:
          - - 4500000000
            - 5000000000
          - - 5100000000
            - 5600000000
          type: array
        register_map:
          description: An array of dimension n_qubits X n_registers indicating storage capability
          minItems: 1
          maxItems: 2147483647
          items:
            type: array
          example:
          - - 1
            - 0
          - - 0
            - 1
          type: array
        rep_delay_range:
          description: Range of delay times between programs (microseconds) allowed by backend.
          minItems: 2
          maxItems: 2
          example:
          - 100
          - 1000
          type: array
          items:
            type: number
        rep_times:
          description: Program execution times (microseconds) supported by backend.
          minItems: 1
          maxItems: 64
          items:
            type: number
          example:
          - 100
          - 200
          - 500
          type: array
        sample_name:
          type: string
          description: Sample name
          pattern: ^[a-zA-Z0-9,:\s]*$
          minLength: 1
          maxLength: 64
          example: Sample_01:Test
        simulator:
          type: boolean
          description: Backend is a simulator (true/false)
          default: false
          example: true
        supported_features:
          description: Array of features supported by the backend such as qasm3
          minItems: 0
          maxItems: 64
          example:
          - qasm3
          type: array
          items:
            type: string
        supported_instructions:
          description: Instructions supported by the backend.
          minItems: 0
          maxItems: 64
          example:
          - u1
          - cx
          - measure
          type: array
          items:
            type: string
        tags:
          description: Tags for the backend
          uniqueItems: true
          minItems: 1
          maxItems: 64
          example:
          - credits_required
          - simulator
          type: array
          items:
            type: string
        timing_constraints:
          description: Timing constraints of the backend
          allOf:
          - $ref: '#/components/schemas/TimingConstraints'
        u_channel_lo:
          type: array
          items:
            minItems: 1
            maxItems: 2147483647
            description: Relationship of the U Channel LO in terms of qubit LO
            type: array
            items:
              $ref: '#/components/schemas/UChannelLOItem'
    BackendDefaultsResponse:
      title: BackendsDefaultsResponse
      type: object
      description: Backends Defaults Response
      additionalProperties: true
    BackendPropertiesNduv:
      type: object
      properties:
        date:
          format: date-time
          type: string
          description: Date of the parameter
          minLength: 24
          maxLength: 24
        name:
          type: string
          description: Name of the parameter
          minLength: 1
          maxLength: 64
        unit:
          type: string
          description: Unit of the parameter
          minLength: 0
          maxLength: 64
        value:
          type: number
          description: Value of the parameter
      required:
      - date
      - name
      - unit
      - value
    BackendPropertiesResponse:
      type: object
      properties:
        backend_name:
          type: string
          description: Backend name
          pattern: ^[a-zA-Z0-9_]*$
          minLength: 1
          maxLength: 64
        backend_version:
          type: string
          description: Backend version in the form X.X.X
          pattern: ^[0-9]+.[0-9]+.[0-9]+$
          minLength: 5
          maxLength: 16
        gates:
          description: System gate parameters
          minItems: 0
          maxItems: 2147483647
          type: array
          items:
            $ref: '#/components/schemas/GateProperties'
        general:
          description: General system parameters
          minItems: 0
          maxItems: 2147483647
          type: array
          items:
            type: string
        last_update_date:
          format: date-time
          type: string
          description: Last date/time that a property was updated.
          minLength: 20
          maxLength: 20
        qubits:
          type: array
          items:
            description: System qubit parameters
            minItems: 1
            maxItems: 2147483647
            type: array
            items:
              $ref: '#/components/schemas/BackendPropertiesNduv'
      required:
      - backend_name
      - backend_version
      - gates
      - general
      - last_update_date
      - qubits
    BackendStatusResponse:
      title: BackendStatusResponse
      type: object
      description: Backends Status Response
      additionalProperties: false
      required:
      - length_queue
      properties:
        state:
          type: boolean
          description: State of the backend
        status:
          type: string
          description: Status of the backend
        message:
          type: string
          description: Description of the backend state
        length_queue:
          type: integer
          format: int32
          minimum: 0
          maximum: 2147483647
          description: Length of the queue for the backend
        backend_version:
          type: string
          description: Backend version
    BackendsResponse:
      title: BackendsResponse
      type: object
      description: Backends Response
      properties:
        devices:
          minItems: 1
          type: array
          description: A list of backends with their status
          items:
            type: object
            required:
            - name
            - status
            - queue_length
            properties:
              name:
                type: string
                description: The name of the backend device
                minLength: 1
                maxLength: 255
              status:
                type: object
                description: The status of the backend device
                properties:
                  name:
                    type: string
                    description: The status name of the backend device
                    enum:
                    - online
                    - paused
                    - offline
                  reason:
                    type: string
                    description: Optional reason for the status
                required:
                - name
              is_simulator:
                type: boolean
                description: Indicates if the device is a simulator
              qubits:
                type: integer
                format: int32
                minimum: 0
                maximum: 2147483647
                nullable: true
                description: The number of qubits in the device
              clops:
                type: object
                nullable: true
                description: Details of the CLOPS
                properties:
                  type:
                    type: string
                    enum:
                    - virtual
                    - hardware
                  value:
                    type: integer
                    format: int32
                    minimum: 0
                    maximum: 2147483647
                required:
                - type
                - value
              processor_type:
                type: object
                nullable: true
                description: Details of the processor type
                properties:
                  family:
                    type: string
                    nullable: true
                    description: The family of the processor
                  revision:
                    type: string
                    nullable: true
                    description: The revision of the processor
                  segment:
                    type: string
                    nullable: true
                    description: The segment of the processor
              queue_length:
                type: integer
                format: int32
                minimum: 0
                maximum: 2147483647
                description: The number of jobs waiting to be executed
              performance_metrics:
                $ref: '#/components/schemas/PerformanceMetrics'
              wait_time_seconds:
                type: object
                nullable: true
                description: Job wait times for the device (in seconds)
                properties:
                  average:
                    type: integer
                    format: int32
                    minimum: 0
                    maximum: 2147483647
                    description: Average wait time before jobs start running (in seconds)
                  p50:
                    type: integer
                    format: int32
                    minimum: 0
                    maximum: 2147483647
                    description: P50 wait time before jobs start running (in seconds)
                  p95:
                    type: integer
                    format: int32
                    minimum: 0
                    maximum: 2147483647
                    description: P95 wait time before jobs start running (in seconds)
                required:
                - average
                - p50
                - p95
      required:
      - devices
    ClopsType:
      type: object
      properties:
        type:
          type: string
          example: virtual
          enum:
          - virtual
          - hardware
        value:
          oneOf:
          - type: integer
            format: int32
            minimum: 0
            maximum: 2147483647
          - type: string
            pattern: ^.*$
          example: 100
      required:
      - type
      - value
    ComplexNumber:
      type: object
      properties:
        number:
          minItems: 2
          maxItems: 2
          items:
            type: array
          type: array
      required:
      - number
    GateConfig:
      type: object
      description: The definition of a gate
      required:
      - name
      - parameters
      - qasm_def
      properties:
        name:
          type: string
          description: The gate name as it will be referred to in QASM
          minLength: 1
          maxLength: 64
          pattern: ^[a-zA-Z0-9]*$
        parameters:
          type: array
          description: Variable names for the gate parameters (if any)
          minItems: 0
          maxItems: 1024
          items:
            type: string
            minLength: 1
            maxLength: 64
            pattern: ^[a-zA-Z0-9]*$
        coupling_map:
          type: array
          minItems: 1
          maxItems: 2147483647
          items:
            type: array
            minItems: 1
            maxItems: 2147483647
            items:
              type: integer
              format: int32
              minimum: 0
              maximum: 2147483647
          description: List of qubit groupings which are coupled by this gate
        qasm_def:
          type: string
          description: Definition of this gate in terms of QASM primitives U and CX
          pattern: ^.*$
          minLength: 1
          maxLength: 1024
        conditional:
          type: boolean
          description: This specified gate supports conditional operations (true/false). If this is not specified, then the gate inherits the conditional property of the backend.
          default: false
        latency_map:
          type: array
          minItems: 1
          maxItems: 2147483647
          items:
            type: array
            minItems: 1
            maxItems: 2147483647
            items:
              type: integer
              format: int32
              minimum: 0
              maximum: 1
          description: An array of dimension len(coupling_map) X n_registers that specifies (1 - fast, 0 - slow) the register latency conditional operations on the gate
        description:
          type: string
          description: Description of the gate operation
          minLength: 1
          maxLength: 64
          pattern: ^[a-zA-Z0-9\s]*$
    GateProperties:
      type: object
      properties:
        gate:
          type: string
          description: The gate name for these parameters
          minLength: 1
          maxLength: 64
          pattern: ^[a-zA-Z0-9_]*$
        parameters:
          description: The parameters of this gate on these qubits
          minItems: 1
          maxItems: 2147483647
          type: array
          items:
            $ref: '#/components/schemas/BackendPropertiesNduv'
        qubits:
          description: The qubits for these parameters
          minItems: 1
          maxItems: 2147483647
          type: array
          items:
            type: string
      required:
      - gate
      - parameters
      - qubits
    Hamiltonian:
      type: object
      description: Hamiltonian of the backend
      properties:
        h_latex:
          type: string
          description: The Hamiltonian in latex form
          minLength: 1
          maxLength: 4096
          pattern: ^.*$
        h_str:
          type: array
          description: The Hamiltonian in machine readable form
          minItems: 1
          maxItems: 2147483647
          items:
            type: string
            minLength: 1
            maxLength: 1024
            pattern: ^.*$
          example:
          - '"0.5 * X0 Y1"'
          - '"1.0 * Z0"'
        vars:
          type: object
          description: Variables in the h_str
        osc:
          type: object
          description: Number of levels for each oscillator mode
      required:
      - h_latex
    PerformanceMetrics:
      type: object
      properties:
        two_q_error_best:
          description: 2Q error (best)
          allOf:
          - $ref: '#/components/schemas/TwoQErrorBest'
        two_q_error_layered:
          description: 2Q error (layered)
          allOf:
          - $ref: '#/components/schemas/TwoQErrorLayered'
        two_q_error_median:
          description: 2Q error (median)
          allOf:
          - $ref: '#/components/schemas/TwoQErrorMedian'
        readout_error_median:
          description: Readout error (median)
          allOf:
          - $ref: '#/components/schemas/ReadoutErrorMedian'
    ProcessorType:
      type: object
      description: The processor type of this backend
      required:
      - family
      - revision
      properties:
        family:
          type: string
          description: Processor family indicates quantum chip architecture
          minLength: 1
          maxLength: 64
          pattern: ^[a-zA-Z0-9]*$
        revision:
          type: string
          description: Revision number reflects design variants within a given processor family. Is typically a semantic versioning value without the patch value, eg., \"1.0\".
          minLength: 1
          maxLength: 64
          pattern: ^[0-9]+.[0-9]+$
        segment:
          type: string
          description: Segment, if indicated, is used to distinguish different subsets of the qubit fabric/chip
          minLength: 1
          maxLength: 64
          pattern: ^[a-zA-Z0-9]*$
    ReadoutErrorMedian:
      type: object
      properties:
        value:
          type: number
          example: 0.3442341
        unit:
          type: string
          example: ''
      required:
      - value
    TimingConstraints:
      type: object
      description: The timing constraints on this backend
      properties:
        granularity:
          type: integer
          format: int64
          description: Waveform memory data chunk size
          maximum: 9007199254740991
          minimum: 0
        min_length:
          type: integer
          format: int64
          description: Minimum number of samples required to define a pulse
          maximum: 9007199254740991
          minimum: 0
        pulse_alignment:
          type: integer
          format: int64
          description: Instruction triggering time resolution of pulse channel in units of dt
          maximum: 9007199254740991
          minimum: 0
        acquire_alignment:
          type: integer
          format: int64
          description: Instruction triggering time resolution of acquisition channel in units of dt
          maximum: 9007199254740991
          minimum: 0
    TwoQErrorBest:
      type: object
      properties:
        value:
          type: number
          example: 0.1
        gate:
          type: string
          example: cx
        unit:
          type: string
          example: ''
        qubits:
          type: array
          example:
          - 1
          - 2
          items:
            type: number
      required:
      - value
      - gate
      - qubits
    TwoQErrorLayered:
      type: object
      properties:
        value:
          type: number
          example: 0.1
        unit:
          type: string
          example: ''
      required:
      - value
    TwoQErrorMedian:
      type: object
      properties:
        value:
          type: number
          example: 0.14123123
        unit:
          type: string
          example: ''
      required:
      - value
    UChannelLOItem:
      type: object
      description: The description of a single U Channel LO in terms of qubit LO's
      properties:
        q:
          type: integer
          format: int32
          minimum: 1
          maximum: 2147483647
          description: The qubit number
        scale:
          $ref: '#/components/schemas/ComplexNumber'
      required:
      - q
      - scale
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: IBM Cloud IAM bearer token
    ServiceCRN:
      type: apiKey
      in: header
      name: Service-CRN
      description: IBM Cloud Service CRN identifying the Qiskit Runtime instance
    ApiVersion:
      type: apiKey
      in: header
      name: IBM-API-Version
      description: API version, e.g. 2026-03-15
security:
- BearerAuth: []
  ServiceCRN: []
  ApiVersion: []
